.align{
    text-align: center;
}
.marginbl{
    margin-bottom: 25px;
    margin-top: 15px;
  }
  .margintext{
    margin-right: 5px !important;
  }
  .nodata{
    margin-top: 22px;
    color: gray;
    font-size: 13px;
  }
  